<div class="contact-body">
	<h2>GET IN TOUCH</h2>
	<p>Trysail transom furl Seq Legs scallywag Jack Ketch chandler mizzenmast reef sails skysail. Shiver me timbers loot bucko belaying pin Seq legs boom gunwalls booty jury mast fore.</p>
	<div class="card-panel-background">
		<h4>Contact Form</h4>
		<div class="form">
			<div class="form-child flex">
				<div class="flex-auto">
					<label class="form-label">Name * </label>
					<div class="form-element padding-right">
						<input type="text" name="" placeholder="1 - 10">
					</div>
				</div>
				<div class="flex-auto">
					<label class="form-label">Email Address * </label>
					<div class="form-element padding-left">
						<input type="text" name="" placeholder="1 - 10">
					</div>
				</div>
			</div>
			<div class="form-child">
				<label class="form-label">Message * </label>
				<div class="form-element flex">
					<textarea></textarea>
				</div>
			</div>
			<div class="form-submit">
				<button class="submit">Send</button>
			</div>
		</div>
	</div>
</div>