.card-panel-background {
	margin-left: 0rem;
	margin-bottom: 10px;
	padding-right: 0px;
}

.image-body {
	display: none;
	flex: 1;
	background: #000;
}

.content-body {
	flex:6;
	padding: 0.9rem;
	position: relative;
}

h4 {
	margin: 0;
}

.release-date {
	font-size: 0.7rem;
}

.game-summary {
	font-size: 0.6rem;
}

.accent {
    position: absolute;
    width: 34px;
    height: 34px;
    line-height: 34px;
    top: 10%;
    right: 13px;
    border-radius: 51px;
    text-align: center;
    font-size: 1.3rem;
}

@media screen and (min-width: 480px) {
	.card-panel-background {
		margin-left: 0rem;
		padding-right: 0px;
	}
	.image-body {
		display: none;
	}
	.accent {
		top: 10%;
		right: 13px;
	}
}

@media screen and (min-width: 668px) {
	.card-panel-background {
		margin-left: 0rem;
		padding-right: 60px;
	}
	.image-body {
		display: block;
	}

	.accent {
		top: 39%;
		right: -33px;
	}
}

@media screen and (min-width: 992px) {
	.card-panel-background {
		margin-left: 0.7rem;
	}
	.image-body {
		display: block;
	}

	.accent {
		top: 39%;
		right: -33px;
	}
}

@media screen and (min-width: 1280px) {
	.card-panel-background {
		margin-left: 0.7rem;
	}
	.image-body {
		display: block;
	}

	.accent {
		top: 39%;
		right: -33px;
	}
}
